.slider-container {
  width: 100%;
}
.banner-body {
  text-align: left;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 5rem;
}
.slider-container img {
  width: 100%;
}
.banner-body h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: bolder;
}
.banner-body span {
  position: relative;
  z-index: 100;
  display: inline-block;
  color: #0e416a;
  font-size: 2rem;
  padding: 4px;
  margin-top: 3rem;
}
.banner-body span::before {
  content: "";
  position: absolute;
  inset: 0px;
  --bg-opacity: 1;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: -12deg;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x))
    translateY(var(--transform-translate-y)) rotate(var(--transform-rotate))
    skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y))
    scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  z-index: -1;
}
.home2 {
  display: flex;
  width: 80%;
  align-items: center;
  margin: auto;
  padding: 3rem 0;
  gap: 3rem;
  button {
    background-color: #b6a748;
    border: none;
    border-radius: 7px;
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
  }
  .home2-f {
    width: 55%;
    h1 {
      font-weight: 400;
      color: #0e416a;
      font-size: 2.4rem;
    }
    p {
      word-spacing: 1px;
      line-height: 1.4rem;
    }
  }
  .img-layer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    img {
      width: 30%;
    }
  }
}
.home2-s img {
  border-radius: 0 1rem 0 1rem;
}
.home3 {
  padding: 1rem 4rem;
  background-color: red;
  background: url("../assets/media/mostbanner.6464cfdd.jpg");
  height: 60vh;
  div {
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      word-spacing: 2px;
      line-height: 1.4rem;
      font-size: 1.05rem;
    }
    h1 {
      font-size: 2.5rem;
      font-weight: 400;
      color: #0e416a;
    }
  }
  button {
    background-color: #b6a748;
    border: none;
    border-radius: 7px;
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
    width: fit-content;
  }
}
