@mixin tablet {
  @media (max-width: 1023px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}
.tab-section {
  .head {
    justify-content: space-around;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    h1 {
      color: #243e63;
      font-weight: 300;
    }
    ul {
      padding: 7px;
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 1rem;
      background-color: #e2e8f0;
      flex-wrap: wrap;
      li {
        list-style: none;
        padding: 10px 1rem;
        color: #5d5568;
        min-width: 170px;
        text-align: center;
      }
    }
  }
  .body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    width: 88%;
    gap: 7px;
    margin: auto;
    // @media only screen and (min-width: 300px) and (max-width: 900px) {
    // }
    @include tablet {
      width: 100%;
      gap: 4px;
    }
    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
    div {
      background-color: #edf2f7;
      padding: 15px;
      img {
        width: 100%;
      }
    }
  }
  .tab-card {
    position: relative;
    // width: 100%;
    @include tablet {
      // min-width: 350px;
      // margin: auto;
    }
    @include mobile {
      min-width: 350px;
      margin: auto;
    }
    .overlay {
      background-color: rgba(255, 255, 255, 0.5);
      width: 95%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: hidden;
      height: 20%;
      button {
        background-color: #243e63;
        color: #fff;
        padding: 10px;
        transition: scale 0.3s ease;
        border: none;
        &:hover{
          scale: 1.1;
          transition: scale 0.3s ease;
        }
      }
    }
    @mixin animation-mixin {
      height: 90%;
      transition: all 0.3s ease;
    }
    &:hover {
      .overlay {
        @include animation-mixin;
        visibility: visible;
      }
    }
  }
}
.choose {
  text-align: center;
  h1,
  strong {
    color: #243e63;
  }
  div {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    article {
      transition: all 0.3s ease;
      &:hover {
        scale: 1.1;
        transition: all 0.3s ease;
      }
      width: 200px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 80px;
      }
    }
  }
}
